---
kind: ConfigMap
apiVersion: v1
metadata:
  name: matrix-jslt
  namespace: {{ integrations_namespace }}
immutable: true
data:
  cachetarget.jslt: "{\n\t\"name\": \"matrix\",\n\t\"room\": .room_id\n}"
