---
apiVersion: v1
kind: Secret
metadata:
  name: client-matrix-admin
  namespace: {{ integrations_namespace }}
stringData:
  matrix.properties: |-
    matrix.access.token={{ matrix_admin_token.access_token | b64decode }}
    matrix.server.url=http://matrix-synapse.{{ im_platforms_namespace }}.svc:8008
    matrix.server=globex
    matrix.user=@synapse:globex