---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ im_platforms_application_name }}
  namespace: {{ im_platforms_application_namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ im_platforms_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ im_platforms_gitops_repo }}
    targetRevision: {{ im_platforms_gitops_repo_tag }}
    path: {{ im_platforms_gitops_repo_path }}
    helm:
      values: |
        amq-broker:
          loop:
            prefix: {{ ocp4_workload_user_prefix }}
            count: {{ ocp4_workload_user_count }}

          rolebinding:
            serviceAccountNamespace: {{ namespace_prefix }}-camel
        matrix-synapse:
          synapse:
            baseUrl: https://{{ im_platforms_synapse_matrix_host }}.{{ r_openshift_subdomain }}
            registrationSharedSecret: {{ lookup('password', '/dev/null chars=ascii_letters length=32') }}
            macaroonSecretKey: {{ lookup('password', '/dev/null chars=ascii_letters length=32') }}
            formSecretKey: {{ lookup('password', '/dev/null chars=ascii_letters length=32') }}
          route:
            host: {{ im_platforms_synapse_matrix_host }}.{{ r_openshift_subdomain }}
          # numUsers: {{ ocp4_workload_authentication_htpasswd_user_count }}
          numUsers: {{ matrix_users }}
          userPrefix: {{ ocp4_workload_user_prefix }}
          rolebinding:
            # serviceAccountNamespace: {{ namespace_prefix }}-camel
            serviceAccountNamespace: globex-integrations

        rocketchat:
          rocketchat:
            route:
              host: {{ im_platforms_rocketchat_host }}.{{ r_openshift_subdomain }}
            # numUsers: {{ ocp4_workload_authentication_htpasswd_user_count }}
            numUsers: {{ rocket_users }}
        element:
          synapse:
            url: https://{{ im_platforms_synapse_matrix_host }}.{{ r_openshift_subdomain }}
          route:
            host: {{ im_platforms_element_host }}.{{ r_openshift_subdomain }}

